img{
    width:100%;
    height:auto;
}
a{
    color:white;
}
a:hover{
    color:white;
    text-decoration: none;
}

.undernav{
    padding-top:140px;
    min-height:calc(100vh - 100px);
}

.pointer{
    cursor: pointer;
}

.delimitor{
    background-color:#FF844B;
    width:100%;
    height:25px;
}

iframe{
    width:100%;
}

#loader{
    position: absolute;
    z-index: 9999999;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(255,255,255,0.75);
    display:flex;
    justify-content: center;
    align-items: center;
}

#bigimg{
    position: absolute;
    z-index: 9999;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: rgba(0,0,0,0.75);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    overflow: hidden;
}
#bigimg img{
    height:99%;
    width:auto;
}

/*nav1.html.twig*/
#nav1{
    background-color:#293847;
    padding-top:7px;
}
#nav1 .row>div{
    display:flex;
    align-items: center;
}

#nav1 form{
    width:100%;
    display:flex;
    align-items: center;
}
#nav1 form>div:nth-child(1){
    width:95%;
    display:flex;
    align-items: center;
}
#nav1 form>div:nth-child(2){
    width:5%;
}

#nav1 .navbar{
    background-color:#293847 !important;
    color:white !important;
    padding-bottom: 1px;
}

#nav1 .navbar a{
    color:white !important;
    text-align: center;
}

#nav1 .navbar .navbar-nav{
    width:100%;
    display:flex;
    justify-content: center;
} 
#nav1 .navbar .navbar-nav>li{
    width:14%;
} 

#nav1 .navbar .navbar-nav>li.active{
    background:white;
    color:black;
} 
#nav1 .navbar .navbar-nav>li.active a{
    color:black !important;
} 

#nav1 .navbar .navbar-nav>li:hover{
    background:white;
    color:black;
} 
#nav1 .navbar .navbar-nav>li:hover a{
    color:black !important;
} 


/*footer.html.twig*/
#footer{
    color:white;
}
#footer .partI{
    background-color:#334859;
    padding:10px;
    display:flex;
    justify-content: center;
}
#footer .partI>div:nth-child(1){
    display:flex;
    align-items: center;
}
#footer .partI img{
    width:40px;
    height:40px;
}

#footer .partII{
    background-color:#323232;
    padding:10px;
}

/*home*/
/*index.html.twig*/
#home a.oneproduct{
    display:block;
    width: 95%;
    padding:15px;
    cursor: pointer;
    margin:0 auto;
}


#home a.oneproduct:hover{
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

#home a.oneproduct .image{
    width: 150px;
    height:250px;
    overflow: hidden;
    margin:0 auto;
}

/*oneproduct.html.twig*/
#oneproduct .zcarousel {
    width:100%;
    overflow-x:scroll;
    display:flex;
    flex-wrap: nowrap;
}
#oneproduct .zcarousel img{
    width:140px;
    height:auto;
    margin-right:10px;
}

/*carte*/
/*index.html.twig*/
#carte .undernav{
    min-height:calc(100vh - 200px);
    background-color:#efefef !important;
}

#carte .oneproduct{
    padding:10px;
    background:white;
}



/*connection*/
/*index.html.twig*/
#register .undernav{
    background:linear-gradient(-135deg, #c850c0, #4158d0);
    display:flex;
    align-items: center;
    justify-content: center;
}

#register .undernav #registerform{
    width:50%;
    padding:25px;
    background:white;
    border-radius: 10px;
    margin-top:50px;
    margin-bottom:50px;
}




/*espace personnel*/
.espacep .espacenav{
    position: absolute;
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
}
.espacep .espacenav2{
    position: absolute;
    z-index: 50;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.espacep .espacecontent{
    margin-top:68px;
    padding:20px;
    background-color:#f8f9fc;
    min-height:calc(100vh - 70px);
}

.espacep .bloc{
    padding:15px;
    border-radius:10px;
    background:white;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

#espacemainnav{
    width:250px;
    height:100vh;
    padding:10px;
    background-color:#4e73df;
    color:white;
}
#espacemainnav a{
    color:white;
    width:100%;
    display:block;
}

#espacemainnav .onemenu{
    margin-bottom:10px;
    padding:5px;
}
#espacemainnav .onemenu:hover{
    background:white;
    border-radius: 5px;
}
#espacemainnav .onemenu:hover a{
    color:#4e73df;
}
#espacemainnav div.active{
    background:white;
    border-radius: 5px;
}
#espacemainnav div.active a{
    color:#4e73df;
}

#espacemainnav2{
    display:flex;
    background-color: white;
}
#espacemainnav2>div{
    width:50%;
    padding-left:10px;
    padding-right:10px;
    display:flex;
    height:70px;
    align-items: center;
}
#espacemainnav2>div:nth-child(2){
    justify-content: flex-end;
}



@media(max-width:768px){
    .undernav{
        padding-top:250px;
    }

    #register .undernav #registerform{
        width:75%;
    }

    #bigimg img{
        width:95%;
        height:auto;
    }
}

