<div id="detail">
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
    <div class="mb-4">Les détails sont en construction .....</div>
</div>