<div id="detail">
{% for letter in 0..10 %}
<!--
    <div class="mb-4">Les détails sont en construction .....</div>-->
    {% endfor %}
    <img src="https://hauteliving.com/wp-content/uploads/2020/05/AD-Headshot2-533x800.jpg" alt="">
    <br><br>
    <img src="https://media.self.com/photos/5923168c505e9876533f2b09/1:2/w_475,h_950,c_limit/baywatch-alex.jpg" alt="">
</div>