{% extends 'base.html.twig' %}
{% block body %}
<div id="profile" class="espacep">
    <div class="espacenav d-none">
        {% include 'common/espacenav.html.twig' %}
    </div>
    <div class="espacenav2">
        {% include 'common/espacenav2.html.twig' %}
    </div>
    <div class="espacecontent">
        <h2 class="text-center mb-3">{{ app.user.firstname }} {{ app.user.lastname }}</h2>
    </div>

   
</div>
{% endblock %}
